<extend name="public:layout" />

<block name="header">
<head>
<meta charset="utf-8">
<meta content="招聘" http-equiv="keywords">
<meta name="description" content="招聘,培训">
<meta name="format-detection" content="telephone=no"><!-- 禁止IPHONE识别手机号码 -->
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
<meta name="renderer" content="webkit" />

<title>js代码（www.jsdaima.com）- IT资源下载平台</title>
<!-- css -->
<link rel="stylesheet" type="text/css" href="/Public/home/css/index.css">
<link rel="stylesheet" type="text/css" href="/Public/home/css/swiper.min.css">

<!-- public_css -->
<link rel="stylesheet" type="text/css" href="/Public/home/css/public/public_lib.css">

<!-- js -->
<script type="text/javascript" src="/Public/home/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/Public/home/js/swiper.min.js"></script>
<script type="text/javascript" src="/Public/home/js/public.js"></script>

</head>
</block>

<block name="content-header">

	<!--
	Start Preloader加载
	==================================== -->
	<div id="loading-mask">
		<div class="loading-img">
			<img alt="预加载" src="/Public/home/images/preloader01.gif"  />
			<p>找工作，找合伙人，上人和职业...</p>
		</div>
	</div>
	<!--
	End Preloader
	==================================== -->

	<!--头部-->
	<header class="module-layer">
		<div class="module-layer-content">
			<div class="module-layer-bg"></div>
			<div class="search-box-cover"></div>
			<p class="layer-logo"><img src="/Public/home/images/logo.png"></p>
			<h1 class="layer-head-name">
				<div class="pr search-box">
					<img class="shop-search" src="/Public/home/images/icon_search_w.png"/>
					<input id="shop-input" type="text" placeholder="请输入关键词搜索" value="" />
				</div>
			</h1>
			<p class="layer-login"><img src="/Public/home/images/pin.png"><a href="../web_other/weizhi.html">贵阳</a></p>
		</div>
	</header>
</block>

<block name="content">
	<!--banner图-->
	<div class="swiper-container banner">
		<ul class="swiper-wrapper">
			<li class="swiper-slide">
				<img src="/Public/home/images/banner01.jpg">
			</li>
			<li class="swiper-slide">
				<img src="/Public/home/images/banner01.jpg">
			</li>
		</ul>
		<div class="swiper-pagination sp01"></div>
		<script>
			var swiper = new Swiper('.banner', {
				pagination: '.sp01',
				paginationClickable: true,
				autoplay:"3000",
				loop:"ture",
				speed:500,
				autoplayDisableOnInteraction : false,
			});
		</script>
	</div>

	<!-- 图标导航icon -->
	<div class="swiper-container nav_iconbox">
		<div class="swiper-wrapper">
			<!-- 每个ul有8个li，不能多于8个 -->
			<ul class="swiper-slide">
				<li>
					<a href="{:U('Home/Position/list')}">
						<img src="/Public/home/images/person_img/icon01.png">
						<span>找工作</span>
					</a>
				</li>
				<li>
					<a href="{:U('Home/Partner/list')}">
						<img src="/Public/home/images/icon02.png">
						<span>合伙创业</span>
					</a>
				</li>
				<li>
					<a href="{:U('Home/Train/list')}">
						<img src="/Public/home/images/person_img/icon03.png">
						<span>提升培训</span>
					</a>
				</li>
			</ul>
		</div>

	</div>

	<!-- 公告信息 -->
	<div class="news_sj_dxs_box bgwh mb6">
		<div class="scrollnews">
			<span><img src="/Public/home/images/news_tit.png"></span>
			<ul>
				<foreach name="news" item="v">
					<li><a href="{:U('Home/Other/news_xq',array('id'=>$v['id']))}">{$v.title}</a></li>
				</foreach>

			</ul>
			<span class="r"><a href="{:U('Home/Other/news')}">更多></a></span>

		</div>
	</div>

	<!-- 推荐培训 -->
<!--	<div class="tuij_box bgwh mb6">-->
<!--		<div class="title">-->
<!--			<h2><img src="/Public/home/images/person_img/icon_tjpx.png" /><span>推荐培训</span></h2>-->
<!--			<a href="train.html">查看更多></a>-->
<!--		</div>-->
<!--		<ul>-->
<!--			<li>-->
<!--				<a href="train_xq.html">-->
<!--					<i class="l"><img src="/Public/home/images/pic01.jpg" /></i>-->
<!--					<dl class="l">-->
<!--						<dt>公共营养师</dt>-->
<!--						<dd class="ge04">理论与操作</dd>-->
<!--						<dd class="g6">报名人数：<span class="gr">299</span></dd>-->
<!--					</dl>-->
<!--					<span class="ge04 abs">优惠</span>-->
<!--				</a>-->
<!--			</li>-->
<!--			<li>-->
<!--				<a href="train_xq.html">-->
<!--					<i class="l"><img src="/Public/home/images/pic04.jpg" /></i>-->
<!--					<dl class="l">-->
<!--						<dt>插花师</dt>-->
<!--						<dd class="ge04">理论与操作</dd>-->
<!--						<dd class="g6">报名人数：<span class="gr">99</span></dd>-->
<!--					</dl>-->
<!--					<span class="ge04 abs">免费</span>-->
<!--				</a>-->
<!--			</li>-->
<!--			<li>-->
<!--				<a href="train_xq.html">-->
<!--					<i class="l"><img src="/Public/home/images/pic05.jpg" /></i>-->
<!--					<dl class="l">-->
<!--						<dt>环境产业水治理</dt>-->
<!--						<dd class="ge04">视频学习+理论与操作</dd>-->
<!--						<dd class="g6">报名人数：<span class="gr">29</span></dd>-->
<!--					</dl>-->
<!--					<span class="ge04 abs">优惠</span>-->
<!--				</a>-->
<!--			</li>-->
<!--		</ul>-->
<!--	</div>-->

	<!-- 推荐工作 -->
	<div class="tuij_gz bgwh mb6">
		<div class="title">
			<h2><img src="/Public/home/images/person_img/icon_tjgz.png" /><span>推荐工作</span></h2>
			<a class="change" href="{:U('Home/Position/list')}">查看更多 ></a>
		</div>
		<ul>
			<foreach name="positions" item="v" key="k">

				<li>
					<a href="{:U('Home/Position/detail',array('id'=>$v['id']))}">
						<div class="job_tit fix">
							<h2 class="l pct80">{$v.positionName}</h2>
							<span class="r">{:date('Y-m-d',$v['add_time'])}</span>
						</div>
						<div class="job_money">
							<span>待遇：<em class="gr n">{$v.salaryMin}k-{$v.salaryMax}k</em></span>
							&emsp;
							<span>城市：<em class="gr n">{$v.workAddress}</em></span>
						</div>
						<div class="job_fuli fix">
							<p class="l pct70">
								<for star="0" end="count(explode('，',$v['positionAdvantage']))">
									<em>{:explode('，',$v['positionAdvantage'])[$i]}</em>
								</for>
							</p>
							<span class="r">浏览次数：{$v['look_num']>999?'999+':$v['look_num']}</span>
						</div>
					</a>
				</li>
			</foreach>


		</ul>
	</div>

	<!-- 热门职位 -->
	<div class="hot_work bgwh mb6">
		<div class="title hot_tit">
			<h2><span>热门职位</span></h2>
		</div>
		<ul>
			<foreach name="hotposition" item="v" key="k">
				<li><a href="{:U('Home/Position/detail',array('id'=>$v['id']))}">{$v.positionName}</a></li>
			</foreach>

		</ul>
	</div>

	<!-- 广告 -->
	<div class="swiper-container ad_picbox">
		<ul class="swiper-wrapper">
			<li class="swiper-slide">
				<a href="#"><img src="/Public/home/images/company_img/adpic01.png"></a>
			</li>
			<li class="swiper-slide">
				<a href="#"><img src="/Public/home/images/person_img/adpic02.jpg"></a>
			</li>
		</ul>

	</div>

	<!-- 热门培训 -->
	<div class="tuij_box bgwh mb6">
		<div class="title">
			<h2><img src="/Public/home/images/person_img/icon_hot.png" /><span>热门培训</span></h2>
		</div>
		<ul>
			<li>
				<a href="train_xq.html">
					<i class="l"><img src="/Public/home/images/pic01.jpg" /></i>
					<dl class="l">
						<dt>公共营养师</dt>
						<dd class="ge04">理论与操作</dd>
						<dd class="g6">报名人数：<span class="gr">291</span></dd>
					</dl>
					<span class="ge04 abs">优惠</span>
				</a>
			</li>
			<li>
				<a href="train_xq.html">
					<i class="l"><img src="/Public/home/images/pic02.jpg" /></i>
					<dl class="l">
						<dt>养老护理师</dt>
						<dd class="ge04">理论与操作</dd>
						<dd class="g6">报名人数：<span class="gr">99</span></dd>
					</dl>
					<span class="ge04 abs">免费</span>
				</a>
			</li>
			<li>
				<a href="train_xq.html">
					<i class="l"><img src="/Public/home/images/pic03.jpg" /></i>
					<dl class="l">
						<dt>育婴师</dt>
						<dd class="ge04">理论与操作</dd>
						<dd class="g6">报名人数：<span class="gr">27</span></dd>
					</dl>
					<span class="ge04 abs">免费</span>
				</a>
			</li>
			<li>
				<a href="train_xq.html">
					<i class="l"><img src="/Public/home/images/pic04.jpg" /></i>
					<dl class="l">
						<dt>插花师</dt>
						<dd class="ge04">理论与操作</dd>
						<dd class="g6">报名人数：<span class="gr">89</span></dd>
					</dl>
					<span class="ge04 abs">优惠</span>
				</a>
			</li>
			<li>
				<a href="train_xq.html">
					<i class="l"><img src="/Public/home/images/pic05.jpg" /></i>
					<dl class="l">
						<dt>环境产业水治理</dt>
						<dd class="ge04">视频学习+理论与操作</dd>
						<dd class="g6">报名人数：<span class="gr">29</span></dd>
					</dl>
					<span class="ge04 abs">免费</span>
				</a>
			</li>
		</ul>
	</div>
</block>

<block name="body-footer">
	<!-- 搜索框 -->
	<div class="search_bomb_box">
		<div class="search_top fix sy_search_top">
			<a><img src="/Public/home/images/back_jt.png"><span>返回</span></a>
			<div>
				<form action="{:U('Home/Position/list')}">
					<select>
						<option>工作</option>
						<option>合伙</option>
					</select>
					<input type="text" name="search" placeholder="请输入关键词搜索"><!--
			 --><button type="submit"><img src="/Public/home/images/icon_search.png"></button>
				</form>
			</div>
		</div>
		<div class="search_txt">
			<h2>大家都在搜</h2>
			<ul>
				<foreach name="hotsearch" item="v" key="k">
					<li><a href="{:U('Home/Position/list',array('search'=>$v['hotName']))}">{$v.hotName}</a></li>
				</foreach>

			</ul>
		</div>
	</div>
</block>

<block name="script">
	<script>
		$('.foot_menu ul li').eq(0).addClass('cur');
		$('.foot_menu ul li').eq(0).find('img').attr('src','/Public/home/images/menu_icon01_r.png');
		var swiper = new Swiper('.nav_iconbox', {
			speed:500,
			autoplayDisableOnInteraction : false,
		});
	</script>
	<script>
		var swiper = new Swiper('.ad_picbox', {
			autoplay:"4000",
			effect:"fade",
			loop:"ture",
			speed:700,
			autoplayDisableOnInteraction : false,
		});
	</script>
	<script type="text/javascript" charset="utf-8">
		$(function() {
			var n=0;
			//监听滚动条事件，改变背景透明度
			$(window).scroll(function() {
				var top = $(document).scrollTop();
				if ((top/150) >= 0.9) {
					n=0.9;
				}else{
					n=(top/150);
				}
				$(".search-box-cover").css("opacity",n);

				// 搜索框背景色和搜索图标
				if (n>0.4) {
					$(".search-box").css("background","#ffffff");
					$(".shop-search").attr("src","/Public/home/images/icon_search.png")
				}else{
					$(".search-box").css("background","rgba(255,255,255,0)");
					$(".shop-search").attr("src","/Public/home/images/icon_search_w.png")
				}

			});
		});

	</script>
	<script type="text/javascript">
		$(function(){
			$(".search-box").click(
					function(){
						$(".search_bomb_box").show()
						$('input[name="search"]').focus();
						$(".module-layer").hide()
						$(".zy_module-content").hide()
					}
			);
			$(".search_bomb_box .search_top>a").mousedown(
					function(){
						$(".search_bomb_box").hide()
						$(".module-layer").show()
						$(".zy_module-content").show()
					}
			)
		})
	</script>

	<script type="text/javascript">

		$(document).ready(function(){
			var timer;
			//滚动文字
			function runtxt(){
				$(".scrollnews ul").animate({marginTop:"-.4rem"},300,
						function(){
							$(".scrollnews ul li:last").after($(".scrollnews ul li:first"))
							$(".scrollnews ul").css("margin-top",0)
						}
				)
			}
			$(".scrollnews ul li a").mouseenter(
					function(){
						clearInterval(timer)
					}
			)
			$(".scrollnews ul li a").mouseleave(
					function(){
						timer=setInterval(runtxt,4000)
					}
			)
			timer=setInterval(runtxt,4000);
		})
	</script>
</block>
