<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="招聘" http-equiv="keywords">
<meta name="description" content="招聘,培训">
<meta name="format-detection" content="telephone=no"><!-- 禁止IPHONE识别手机号码 -->
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
<meta name="renderer" content="webkit" />

<title>js代码（www.jsdaima.com）- IT资源下载平台</title>
<!-- css -->
<link rel="stylesheet" type="text/css" href="/Public/home/css/index.css">
<link rel="stylesheet" type="text/css" href="/Public/home/css/swiper.min.css">

<!-- public_css -->
<link rel="stylesheet" type="text/css" href="/Public/home/css/public/public_lib.css">

<!-- zy_public_css -->
<link rel="stylesheet" type="text/css" href="/Public/home/css/zy_public.css">
<!-- 子页css -->
<link rel="stylesheet" type="text/css" href="/Public/home/css/children.css">

<!-- js -->
<script type="text/javascript" src="/Public/home/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/Public/home/js/swiper.min.js"></script>
<script type="text/javascript" src="/Public/home/js/public.js"></script>

</head>
<body>

<!-- 内容框 -->
<div class="zy_module-content">
	<!-- 消息 -->
	<div class="zy_content zy_vipbox">
		<div class="vip_head mb6">
			<div class="head pb10">
				<if condition="session('?mid')">
					<i><img src="__IMAGE__/{$com.logo}"></i>
					<else />
					<i><img src="/Public/home/images/pic03.jpg"></i>
				</if>

				<span>{$com.website}</span>

				<if condition="session('?mid')">
					<h2>{$com.companyName}</h2>
					<else />
					<h2>游客</h2>
				</if>
				<!-- <div class="state"><em class="on">正找工作</em><em>不找工作</em></div> -->
			</div>
			<if condition="!session('?mid')">
				<div class="exit" style="width: 70px;"><a href="{:U('Home/Login/login')}">登录</a>|<a href="{:U('Home/Login/register')}">注册</a></div>
			<else />
				<div class="exit"><a href="{:U('Home/Login/logout')}">退出</a></div>
			</if>
		</div>
			<div class="vip_menu">
			<ul class="mb6">
				<li>
					<if condition="!session('?mid')">
						<a href="{:U('Home/Login/login')}">
							<img src="/Public/home/images/common_img/vip_icon_01.png">
							<span>资料设置</span>
						</a>
						<else />
						<a href="{:U('Company/Mine/modifyInfo')}">
							<img src="/Public/home/images/common_img/vip_icon_01.png">
							<span>资料设置</span>
						</a>
					</if>

				</li>
				<li>
					<if condition="!session('?mid')">
						<a href="{:U('Home/Login/login')}">
							<img src="/Public/home/images/common_img/vip_icon_02.png">
							<span>发布招聘/项目</span>
						</a>
					<else />
						<a href="../../../../index.php">
							<img src="/Public/home/images/common_img/vip_icon_02.png">
							<span>发布招聘/项目</span>
						</a>
					</if>
				</li>
				<li>
					<if condition="!session('?mid')">
						<a href="{:U('Home/Login/login')}">
							<img src="/Public/home/images/common_img/vip_icon_03.png">
							<span>我的发布</span>
						</a>
						<else />
						<a href="../../../../index.php">
							<img src="/Public/home/images/common_img/vip_icon_03.png">
							<span>我的发布</span>
						</a>
					</if>
				</li>
				<li>
					<if condition="!session('?mid')">
						<a href="{:U('Home/Login/login')}">
							<img src="/Public/home/images/common_img/vip_icon_04.png">
							<span>收到的求职简历</span>
						</a>
						<else />
						<a href="../../../../index.php">
							<img src="/Public/home/images/common_img/vip_icon_04.png">
							<span>收到的求职简历</span>
							<em class="n r gr">12</em>
						</a>
					</if>
				</li>
				<li>
					<if condition="!session('?mid')">
						<a href="{:U('Home/Login/login')}">
							<img src="/Public/home/images/common_img/vip_icon_05.png">
							<span>我的定制</span>
						</a>
						<else />
						<a href="{:U('Company/Rc/myorder')}">
							<img src="/Public/home/images/common_img/vip_icon_05.png">
							<span>我的定制</span>
						</a>
					</if>
				</li>
				<li>
					<if condition="!session('?mid')">
						<a href="{:U('Home/Login/login')}">
							<img src="/Public/home/images/common_img/vip_icon_06.png">
							<span>我的收藏</span>
						</a>
						<else />
						<a href="../../../../index.php">
							<img src="/Public/home/images/common_img/vip_icon_06.png">
							<span>我的收藏</span>
						</a>
					</if>
				</li>
			</ul>
			<ul>
				<li>
					<if condition="!session('?mid')">
						<a href="{:U('Home/Login/login')}">
							<img src="/Public/home/images/common_img/vip_icon_07.png">
							<span>我的人才库</span>
							<em class="n r g9">需开通入驻</em>
						</a>
						<else />
						<a href="../../../../index.php">
							<img src="/Public/home/images/common_img/vip_icon_07.png">
							<span>我的人才库</span>
							<em class="n r g9">需开通入驻</em>
						</a>
					</if>
				</li>
			</ul>
		</div>
	</div>
	
	<!-- 返回顶部 -->
	<div class="go_top">
		<a class="btn_top"></a>
	</div>
	
	<!-- 底部 -->
	<div class="footer_box">
		<div class="footer">
			<h2>
				<if condition="session('?mid')">
					<a>{$com.companyName}</a>
				</if>
				<!--
			 --><a href="../web_ruzhu/apply_index.html">同行入驻</a>
			</h2>
			<h3>
				<span><a href="../web_other/about.html">关于我们</a></span>
				<span><a href="../web_other/about.html">求职指南</a></span>
				<span><a href="../web_other/about.html">联系我们</a></span>
				<span><a href="../web_other/about.html">免责声明</a></span>
			</h3>
			<div class="txt">
				<p>&copy; 2019 XX公司&nbsp;&nbsp;ICP备XXXXXXXX号<br/>技术支持：<a href="http://www.jsdaima.com/" title="js代码" target="_blank">js代码（www.jsdaima.com）</a></p>
			</div>
		</div>
	</div>

	<!-- 底部导航 -->
	<div class="foot_menu">
		<ul>
			<li>
				<a href="{:U('Company/Index/list')}">
					<i><img src="/Public/home/images/menu_icon01.png"></i>
					<span>首页</span>
				</a>
			</li>
			<li>
				<a href="{:U('Company/Issue/list')}">
					<i><img src="/Public/home/images/company_img/menu_icon02.png"></i>
					<span>发布</span>
				</a>
			</li>
			<li class="info">
				<a href="{:U('Company/Msg/list')}">
					<i><img src="/Public/home/images/menu_icon03.png"></i>
					<span>消息</span>
					<em></em>
				</a>
			</li>
			<li class="cur">
				<a href="{:U('Company/Mine/list')}">
					<i><img src="/Public/home/images/menu_icon04_r.png"></i>
					<span>我的</span>
				</a>
			</li>
		</ul>
	</div>
	
</div>


</body>
</html>