<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="招聘" http-equiv="keywords">
<meta name="description" content="招聘,培训">
<meta name="format-detection" content="telephone=no"><!-- 禁止IPHONE识别手机号码 -->
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
<meta name="renderer" content="webkit" />

<title>js代码（www.jsdaima.com）- IT资源下载平台</title>
<!-- css -->
<link rel="stylesheet" type="text/css" href="/Public/home/css/index.css">
<link rel="stylesheet" type="text/css" href="/Public/home/css/swiper.min.css">

<!-- public_css -->
<link rel="stylesheet" type="text/css" href="/Public/home/css/public/public_lib.css">

<!-- zy_public_css -->
<link rel="stylesheet" type="text/css" href="/Public/home/css/zy_public.css">
<!-- 子页css -->
<link rel="stylesheet" type="text/css" href="/Public/home/css/children.css">
	<link rel="stylesheet" href="/Public/home/js/preview/preview.css">
<!-- js -->
<script type="text/javascript" src="/Public/home/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/Public/home/js/swiper.min.js"></script>
<script type="text/javascript" src="/Public/home/js/public.js"></script>
	<script src="/Public/home/js/preview/preview.js" type="text/javascript"></script>
	<style>
		.preview-label{
			width: 50px;
			height: 50px;
			background: #F2B300;
			margin-left: 90px;
		}
		div.headup{
			width: 50px;
		}
	</style>
</head>
<body class="bgwh">
<header class="zy_search_top_box scroll_fix">
	<div class="zy_title_top fix">
		<div class="one" href="javascript:" onclick="history.back();"><img src="/Public/home/images/back_jt.png"><span>返回</span></div>
		<h1>账户信息</h1>
		
	</div>
</header>
<!-- 占位框 -->
<div class="top_zhanwei_box"></div>

<!-- 内容框 -->
<div class="zy_module-content zy_vip_conbox">	
	<div class="vip_user_info_mima vip_user_info_person">
		<form action="" method="post" enctype="multipart/form-data">
			<div class="headup form_line" >
						<label for="pic" class="preview-label">头像上传</label>
						<input type="file" id="pic" name="pic" onchange="preview(this,10,10)" class="preview-input">
						<img style="width:10px;height:10px;" src="" id="avatar2" alt="" >
			</div>
            <div class="form_line"><label><span>用户名称</span><input type="text" name="" value="{:session('mname')}"></label></div>
<!--            <div class="form_line"><label><span>真实姓名</span><input type="text" name="" placeholder="请填写真实姓名"></label></div>-->
            <div class="form_line sexbox bbd">
                <span>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</span>
                <label><input type="radio" name="sex" checked="checked" >男</label>
                <label><input type="radio" name="sex">女</label>
            </div>
            <div class="form_line"><label><span>年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄</span><input type="text" name="" placeholder="请填写年龄"></label></div>
            <div class="form_line tel"><label><span>联系电话</span><input type="text" name="" value="18988999988"><em>已认证</em></label></div>
            
            <button class="zy_butn bord_3">确认修改</button>   
		</form>
		
	</div>
</div>
<script>
	$('.zy_butn').click(function(){
		$.post('{:U("Home/User/changeInfo")}',$('form').serialize(),function(data){
			layer.open({
				content: data.msg
				,btn: '确定'
			});
		})
	})
</script>
</body>
</html>