<extend name="public:layout" />
<block name="header">
	<head>
		<meta charset="utf-8">
		<meta content="招聘" http-equiv="keywords">
		<meta name="description" content="招聘,培训">
		<meta name="format-detection" content="telephone=no"><!-- 禁止IPHONE识别手机号码 -->
		<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
		<meta name="renderer" content="webkit" />

		<title>js代码（www.jsdaima.com）- IT资源下载平台</title>
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="/Public/home/css/index.css">
		<link rel="stylesheet" type="text/css" href="/Public/home/css/swiper.min.css">

		<!-- public_css -->
		<link rel="stylesheet" type="text/css" href="/Public/home/css/public/public_lib.css">

		<!-- zy_public_css -->
		<link rel="stylesheet" type="text/css" href="/Public/home/css/zy_public.css">
		<!-- 子页css -->
		<link rel="stylesheet" type="text/css" href="/Public/home/css/children.css">

		<!-- js -->
		<script type="text/javascript" src="/Public/home/js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="/Public/home/js/swiper.min.js"></script>
		<script type="text/javascript" src="/Public/home/js/layer/layer.js"></script>
		<script type="text/javascript" src="/Public/home/js/public.js"></script>

	</head>
</block>


<block name="content-header">
	<!-- 消息 -->
	<div class="zy_content zy_vipbox">
		<div class="vip_head mb6">
			<div class="head pt5">
				<i><img src="/Public/home/images/common_img/woman.png"></i>
<!--				<span>普通人才</span>-->
				<h2>{:session('mname')}</h2>
				<!-- 是否找工作 -->
				<div class="state rel"><em class="on">正找工作</em><em>不找工作</em><b></b></div>
				<script type="text/javascript">
					$(function(){
						$(".state em").mousedown(function(){
							var n=$(this).index()*$(".state b").width();
							$(this).addClass("on");
							$(this).siblings().removeClass("on");
							$(".state b").stop().animate({left:n},150)
						})
					})
				</script>
			</div>
			<if condition="!session('?mid')">
				<div class="login"><a href="{:U('Home/Login/login')}">登录/注册</a></div>
				<else/>
					<div class="exit"><a href="{:U('Home/Login/logout')}">退出</a></div>
			</if>


		</div>
		<div class="vip_menu">
			<ul class="mb6">
				<li>
					<a href="{:U('Home/User/userinfo')}">
						<img src="/Public/home/images/common_img/vip_icon_01.png">
						<span>资料设置</span>
					</a>
				</li>
				<li>
					<a href="{:U('Home/Partner/mypart')}">
						<img src="/Public/home/images/common_img/vip_icon_02_1.png">
						<span>我的合伙信息</span>
					</a>
				</li>
				<li>
					<a href="{:U('Home/User/resume')}">
						<img src="/Public/home/images/common_img/vip_icon_02.png">
						<span>我的简历</span>
					</a>
				</li>
				<li>
					<a href="{:U('Home/User/myrecord')}">
						<img src="/Public/home/images/common_img/vip_icon_03.png">
						<span>我的申请记录</span>
					</a>
				</li>
				<li>
					<a href="{:U('Home/User/msyq')}">
						<img src="/Public/home/images/common_img/vip_icon_04.png">
						<span>收到的面试邀请</span>
						<em class="n r gr">12</em>
					</a>
				</li>
				<li>
					<a href="{:U('Home/User/mytrain')}">
						<img src="/Public/home/images/common_img/vip_icon_05.png">
						<span>我的培训</span>
					</a>
				</li>
				<li>
					<a href="{:U('Home/Position/myCollect')}">
						<img src="/Public/home/images/common_img/vip_icon_06.png">
						<span>我的收藏</span>
					</a>
				</li>
			</ul>
			<ul>
				<li>
					<a href="../web_company/school.html">
						<img src="/Public/home/images/common_img/vip_icon_07.png">
						<span>我的人才库</span>
						<em class="n r g9">需开通入驻</em>
					</a>
				</li>
			</ul>
		</div>
	</div>
</block>

<block name="script">
	<script>
		$('.foot_menu ul li').eq(3).addClass('cur');
		$('.foot_menu ul li').eq(3).find('img').attr('src','/Public/home/images/menu_icon04_r.png');
		$('.exit').click(function(){
					//询问框
					layer.open({
						content: '您确定要退出吗？',
						btn: ['是', '不要'],
						yes: function(index){
							$.get('{:U("Home/Login/logout")}','',function(data){
								if(data.status=='ok'){
									// //提示
									// layer.open({
									// 	content: '退出成功'
									// 	,skin: 'msg'
									// 	,time: 2 //2秒后自动关闭
									// });
									location.reload();
									layer.close(index);
								}
							},'json');

						}
					});

		return false
		})



	</script>
</block>

